@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Space Grotesk', sans-serif;
  background-color: #151515;
  color: white;
  height: 478px;
  /* overflow: hidden; */
}
.img-mobile {
  display: flex;
  align-items: center;
  margin-left: 6.25rem; margin-bottom: 1.25rem;
  /* background-image: url("./img/image-profile-mobile.webp"); */
}
.img-tablet {
  display: none;
} 
h1 {
  position: relative; left: 7.5rem; bottom: 23.938rem; 
  font-weight: 700;
  font-size: 24px;
}
nav {
  height: 420px;
}
.github  {
  display: flex;
  flex-direction: row;
  position: relative; bottom: 23.125rem; left: 6.875rem;
}
.favicon {
  display: flex;
  flex-direction: row;
  position: relative; bottom: 24.5rem; left: 9.5rem;
}
.linkedin {
  display: flex;
  flex-direction: row;
  position: relative; bottom: 25.938rem; left: 12.5rem;
}
.twitter {
  display: flex;
  flex-direction: row;
  position: relative; bottom: 27.313rem; left: 15.313rem;
}
.nice {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
button {
  font-size: 40px;
  font-weight: 700;
  border: 0px solid;
  border-bottom: 4px solid #4EE1A0;
  background-color: #151515;
  color: white;
}
.based {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #D9D9D9;
  font-size: 16px;
  font-weight: 500;
}
.contact {
  font-size: 16px;
  font-weight: 700;
  border: 0px solid;
  border-bottom: solid #4EE1A0;
  background-color: #151515;
  color: white;
  padding-bottom: 0.625rem;
  margin: 0rem 0rem 5rem 8.75rem;
}
hr {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2.5rem;
}
h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}
.year1{
  text-align: center;
  font-weight: 500;
  color: #D9D9D9;
  margin-bottom: 1.5rem;
}
.projects {
  margin-top: 5rem;
  font-size: 2.5rem;
  color: white;
  margin-left: 1rem;
  font-weight: 700;
}
.section1 {
  grid-auto-rows: auto;
}
.contact2 {
  font-size: 16px;
  font-weight: 700;
  border: 0px solid;
  border-bottom: solid #4EE1A0;
  background-color: #151515;
  color: white;
  padding-bottom: 0.625rem;
  margin-left: 15.625rem;
  position: relative; bottom: 2.625rem;
}
.project1 {
  height: 253px;
  width: 345px;
  margin-left: 0.9rem;
  margin-right: 0.9rem;
}
.designall {
  font-size: 24px;
  font-weight: 700;
  margin-top: 1.25rem;
  margin-left: 1rem;
  margin-bottom: 0.438rem;
}
.htmlall {
  font-size: 18px;
  font-weight: 500;
  color: #D9D9D9;
  margin-left: 1rem;
}
.cssall {
  font-size: 18px;
  font-weight: 500;
  color: #D9D9D9;
  margin-left: 5.188rem; 
  position: relative; bottom: 1.438rem;
}
.viewall {
  font-size: 16px;
  font-weight: 700;
  border: 0px solid;
  border-bottom: solid #4EE1A0;
  background-color: #151515;
  color: white;
  padding-bottom: 0.625rem;
  margin-left: 1rem;
  margin-bottom: 2.5rem;
}
.codeall {
  font-size: 16px;
  font-weight: 700;
  border: 0px solid;
  border-bottom: solid #4EE1A0;
  background-color: #151515;
  color: white;
  padding-bottom: 0.625rem;
  margin-left: 2rem;
  margin-bottom: 2.5rem;
}
.jsall {
  font-size: 18px;
  font-weight: 500;
  color: #D9D9D9;
  margin-left: 8.5rem; 
  position: relative; bottom: 2.875rem;
}
.viewall1 {
  font-size: 16px;
  font-weight: 700;
  border: 0px solid;
  border-bottom: solid #4EE1A0;
  background-color: #151515;
  color: white;
  padding-bottom: 0.625rem;
  margin-left: 1rem;
  margin-bottom: 2.5rem;
  position: relative; bottom: 1.25rem;
}
.codeall1 {
  font-size: 16px;
  font-weight: 700;
  border: 0px solid;
  border-bottom: solid #4EE1A0;
  background-color: #151515;
  color: white;
  padding-bottom: 0.625rem;
  margin-left: 2rem;
  margin-bottom: 2.5rem;
  position: relative; bottom: 1.25rem;
}
.project2 {
  height: 253px;
  width: 345px;
  margin-left: 0.938rem;
  margin-right: 0.938rem; 
}
footer {
  height: 849px;
  background-color: #242424;
}
.me {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 1.25rem;
}
.would {
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  color: #D9D9D9;
  margin-bottom: 3.125rem;
}
.name {
  background-color: #242424;
  border: none;
  width: 21.438rem;
  margin-left: 1rem;
  border-bottom: 2px solid #D9D9D9;
  color: #D9D9D9;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 2rem;
}
.nom {
  font-size: 16px;
  font-weight: 500;
  color: white;
  opacity: 0.5;
  position: relative; bottom: 4.5rem;
  margin-left: 2.5rem;
}
input:focus {
  outline: none;
}
.message {
  background-color: #242424;
  border: none;
  width: 21.438rem;
  margin-left: 1rem;
  border-bottom: 2px solid #D9D9D9;
  color: #D9D9D9;
  font-size: 16px;
  margin-top: 8.625rem;
  margin-bottom: 2rem;
}
.msg {
  font-size: 16px;
  font-weight: 500;
  color: white;
  opacity: 0.5;
  position: relative; bottom: 11rem;
  margin-left: 2.5rem;
}
.send {
  font-size: 16px;
  font-weight: 700;
  border: 0px solid;
  border-bottom: solid #4EE1A0;
  background-color: #242424;
  color: white;
  padding-bottom: 0.625rem;
  margin-left: 13.438rem;
  margin-bottom: 5.438rem;
}
.adam {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 1.25rem;
}
.github2 {
  display: flex;
  flex-direction: row;
  margin-left: 6.938rem;
}
.favicon2 {
  display: flex;
  flex-direction: row;
  position: relative; bottom: 1.438rem;
  margin-left: 9.688rem;
}
.linkedin2 {
  display: flex;
  flex-direction: row;
  position: relative; bottom: 2.938rem;
  margin-left: 12.688rem;
}
.twitter2 {
  display: flex;
  flex-direction: row;
  position: relative; bottom: 4.25rem;
  margin-left: 15.625rem;
}
 input:invalid {
  border-bottom: 2px solid red;
}
input:valid {
  border-bottom: 2px solid #4EE1A0;
}  
/* @media screen and (min-width: 640px){
  .nav1 {
    display: none;
  }
  .nav2 {
    display: grid;
    height: 380px;
  }
  .img-mobile {
    display: none;
    opacity: 0%;
  }
  .img-tablet {
    display: grid;
    opacity: 100%;
    position: relative; left: 487px; bottom: 40px;
  }
  .he1 {
    font-size: 32px;
    font-weight: 700;
    margin-left: 30px;
    position: relative; bottom: 575px;
  }
   .rings1 {
    display: grid;
    width: 530px;
    height: 129px;
    position: relative; bottom: 575px; right: 250px;
    margin-bottom: 37px;
  }
  .circle1 {
    display: grid;
    width: 129px;
    height: 129px;
    margin-left: 735px;
    position: relative; bottom: 365px;
  }
  .github1 {
    display: grid;
    grid-auto-rows: auto;
    position: relative; bottom: 900px; left: 580px;
  }
  .favicon1 {
    display: grid;
    grid-auto-rows: auto;
    position: relative; bottom: 922px; left: 630px;
  } 
  .linkedin1 {
    display: grid;
    grid-auto-rows: auto;
    position: relative; bottom: 945px; left: 680px;
  }
  .twitter1 {
    display: grid;
    grid-auto-rows: auto;
    position: relative; bottom: 967px; left: 730px;
  } 
  .nice1 {
    display: grid;
    font-size: 48px;
    font-weight: 700;
    margin-left: 32px;
    position: relative; bottom: 162px;
  }
  .nice {
    display: none;
  }
  .button1 {
    font-size: 48px;
    font-weight: 700;
    border: 0px solid;
    border-bottom: 4px solid #4EE1A0;
    background-color: #151515;
    padding-bottom: 1px;
    color: white;
    margin-left: 238px;
    margin-right: 241px;
    position: relative; right: 155px; bottom: 57px;
    margin-bottom: 60px;
  }
  .based1 {
    font-size: 18px;
    font-weight: 500;
    margin-left: 32px;
    position: relative; bottom: 197px;
    color: #D9D9D9;
  }
  .based {
    display: none;
  }
  .contact1 {
    font-size: 16px;
    font-weight: 700;
    border: 0px solid;
    border-bottom: solid #4EE1A0;
    background-color: #151515;
    color: white;
    padding-bottom: 10px;
    margin-left: 32px;
    position: relative; bottom: 162px;
  }
  .contact {
    display: none;
  }
} */