@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Space Grotesk', sans-serif;
  background-color: #151515;
  color: white;
  height: 5013px;
}
.img-mobile {
  display: flex;
  align-items: center;
  margin-left: 100px; margin-bottom: 20px;
  opacity: 100%;
  /* background-image: url("./img/image-profile-mobile.webp"); */
}
.img-tablet {
  display: none;
  opacity: 0%;
} 
.he {
  position: relative; left: 120px; bottom: 383px; 
  font-weight: 700;
  font-size: 24px;
}
.nav1 {
  height: 420px;
}
.rings {
  display: flex;
  position: relative; bottom: 310px; right: 340px;
  z-index: -1;
}
.circle {
  display: flex;
  margin-left:310px;
  position: relative; bottom: 310px;
}
.github  {
  display: flex;
  flex-direction: row;
  position: relative; bottom: 620px; left: 110px;
}
.favicon {
  display: flex;
  flex-direction: row;
  position: relative; bottom: 642px; left: 152px;
}
.linkedin {
  display: flex;
  flex-direction: row;
  position: relative; bottom: 665px; left: 200px;
}
.twitter {
  display: flex;
  flex-direction: row;
  position: relative; bottom: 687px; left: 245px;
}
.nice {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
button {
  font-size: 40px;
  font-weight: 700;
  border: 0px solid;
  border-bottom: solid #4EE1A0;
  background-color: #151515;
  color: white;
}
.based {
  margin-top: 24px;
  margin-bottom: 24px;
  text-align: center;
  color: #D9D9D9;
  font-size: 16px;
  font-weight: 500;
}
.contact {
  font-size: 16px;
  font-weight: 700;
  border: 0px solid;
  border-bottom: solid #4EE1A0;
  background-color: #151515;
  color: white;
  padding-bottom: 10px;
  margin: 0px 0px 80px 140px;
}
hr {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 40px;
}
h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}
.year1{
  text-align: center;
  font-weight: 500;
  color: #D9D9D9;
  margin-bottom: 24px;
}
.projects {
  margin-top: 80px;
  font-size: 40px;
  color: white;
  margin-left: 16px;
  font-weight: 700;
}
.section1 {
  grid-auto-rows: auto;
}
.contact2 {
  font-size: 16px;
  font-weight: 700;
  border: 0px solid;
  border-bottom: solid #4EE1A0;
  background-color: #151515;
  color: white;
  padding-bottom: 10px;
  margin-left: 250px;
  position: relative; bottom: 42px;
}
.project1 {
  height: 253px;
  width: 345px;
  margin-left: 15px;
  margin-right: 15px;
}
.designall {
  font-size: 24px;
  font-weight: 700;
  margin-top: 20px;
  margin-left: 16px;
  margin-bottom: 7px;
}
.htmlall {
  font-size: 18px;
  font-weight: 500;
  color: #D9D9D9;
  margin-left: 16px;
}
.cssall {
  font-size: 18px;
  font-weight: 500;
  color: #D9D9D9;
  margin-left: 83px; 
  position: relative; bottom: 23px;
}
.viewall {
  font-size: 16px;
  font-weight: 700;
  border: 0px solid;
  border-bottom: solid #4EE1A0;
  background-color: #151515;
  color: white;
  padding-bottom: 10px;
  margin-left: 16px;
  margin-bottom: 40px;
}
.codeall {
  font-size: 16px;
  font-weight: 700;
  border: 0px solid;
  border-bottom: solid #4EE1A0;
  background-color: #151515;
  color: white;
  padding-bottom: 10px;
  margin-left: 32px;
  margin-bottom: 40px;
}
.jsall {
  font-size: 18px;
  font-weight: 500;
  color: #D9D9D9;
  margin-left: 136px; 
  position: relative; bottom: 46px;
}
.viewall1 {
  font-size: 16px;
  font-weight: 700;
  border: 0px solid;
  border-bottom: solid #4EE1A0;
  background-color: #151515;
  color: white;
  padding-bottom: 10px;
  margin-left: 16px;
  margin-bottom: 40px;
  position: relative; bottom: 20px;
}
.codeall1 {
  font-size: 16px;
  font-weight: 700;
  border: 0px solid;
  border-bottom: solid #4EE1A0;
  background-color: #151515;
  color: white;
  padding-bottom: 10px;
  margin-left: 32px;
  margin-bottom: 40px;
  position: relative; bottom: 20px;
}
.project2 {
  height: 253px;
  width: 345px;
  margin-left: 15px;
  margin-right: 15px; 
}
@media screen and (min-width: 640px){
  .nav1 {
    display: none;
  }
  .nav2 {
    display: grid;
    height: 380px;
  }
  .img-mobile {
    display: none;
    opacity: 0%;
  }
  .img-tablet {
    display: grid;
    opacity: 100%;
    position: relative; left: 475px; bottom: 40px;
  }
  .he1 {
    font-size: 32px;
    font-weight: 700;
    margin-left: 30px;
    position: relative; bottom: 571px;
    margin-bottom: 25px;
  }
   .rings1 {
    display: grid;
    width: 530px;
    height: 129px;
    position: relative; bottom: 575px; right: 250px;
  }
  .circle1 {
    display: grid;
    width: 129px;
    height: 129px;
    margin-left: 735px;
    position: relative; bottom: 365px;
  }
  .github1 {
    display: grid;
    grid-auto-rows: auto;
    position: relative; bottom: 885px; left: 580px;
  }
  .favicon1 {
    display: flex;
    grid-auto-rows: auto;
    position: relative; bottom: 907px; left: 630px;
  } 
  .linkedin1 {
    display: flex;
    flex-direction: row;
    position: relative; bottom: 930px; left: 680px;
  }
  .twitter1 {
    display: flex;
    flex-direction: row;
    position: relative; bottom: 952px; left: 730px;
  } 
  .nice1 {
    display: grid;
    font-size: 48px;
    font-weight: 700;
  }
  .nice {
    display: none;
  }
}